:host {
  display: block;
  &:not(:last-child) {
    margin-bottom: 2px;
  }
}

.accordion-container {
  padding: 0 4rem;
}

[ngpAccordionContent] {
  color: var(--color-global-dark-secondary-130);
  overflow: hidden;
  box-sizing: border-box;
}

[ngpAccordionContent][data-open] {
  border: 1px solid var(--bg-primary-light-40);
  & .accordion-container {
    animation: slideDown 0.2s ease-in-out forwards;
  }
}

[ngpAccordionContent][data-closed] .accordion-container {
  animation: slideUp 0.2s ease-in-out forwards;
}

@keyframes slideDown {
  from {
    height: 0;
    border: 0;
  }
  to {
    height: calc(var(--ngp-accordion-content-height) + 2rem);
    padding: 2rem 4rem;
  }
}

@keyframes slideUp {
  0% {
    height: calc(var(--ngp-accordion-content-height) + 2rem);
    padding: 2rem 4rem;
  }
  50% {
    padding: 1rem 4rem;
  }
  100% {
    height: 0;
    padding: 0 4rem;
  }
}
