:host {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--text-on-primary-light);
  padding: 12px 42px;
  border-radius: 4px;
  border-width: 0;
  cursor: pointer;
  &[data-icon-only='true'] {
    padding: 16px;
  }
  &[data-focus-visible] {
    outline: none;
    box-shadow:
      0 0 0 3px var(--color-global-primary-000),
      0 0 0 5px var(--interactive-primary-default),
      0 0 10px 0 rgba(0, 125, 179, 0.7);
  }
  &:disabled {
    background-color: var(--bg-disabled);
    color: var(--text-disabled);
    cursor: not-allowed;
  }
  &[data-variant='primary']:not(:disabled) {
    background-color: var(--interactive-primary-default);
    &:hover {
      background-color: var(--interactive-primary-hover);
    }
    &:active {
      background-color: var(--interactive-primary-pressed);
    }
  }
  &[data-variant='secondary']:not(:disabled) {
    background-color: var(--interactive-secondary-default);
    &:hover {
      background-color: var(--interactive-secondary-hover);
    }
    &:active {
      background-color: var(--interactive-secondary-pressed);
    }
  }
  &[data-variant='danger']:not(:disabled) {
    background-color: var(--interactive-alert-default);
    &:hover {
      background-color: var(--interactive-alert-hover);
    }
    &:active {
      background-color: var(--interactive-alert-pressed);
    }
  }
  &[data-variant='tertiary'] {
    background-color: transparent;
    &:not(:disabled) {
      color: var(--interactive-primary-default);
      border: 2px solid var(--interactive-primary-default);
      &:hover {
        color: var(--interactive-primary-hover);
        border: 2px solid var(--interactive-primary-hover);
      }
      &:active {
        color: var(--interactive-primary-pressed);
        border: 2px solid var(--interactive-primary-pressed);
      }
    }
    &:disabled {
      color: var(--text-disabled);
      border: 2px solid var(--bg-disabled);
    }
  }
}
