:host {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  overflow: clip;
}

:host[data-type='landscape'],
:host[data-type='portrait'] {
  justify-content: space-between;
}

:host[data-type='process'] {
  justify-content: flex-start;
}
