:host {
  cursor: pointer;
  border: 1px solid var(--data-entry-label-default);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  background-color: var(--color-global-primary-000);
  box-sizing: border-box;

  &[data-focus] {
    outline: 2px solid var(--data-entry-label-focus);
    outline-offset: 2px;
    border-color: var(--data-entry-label-focus);
  }
  &[data-disabled] {
    cursor: not-allowed;
    background-color: var(--bg-disabled);
    border-color: var(--bg-disabled);
  }
}

.select-value,
.select-placeholder {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 1rem 0 1rem 1rem;
  background-color: transparent;
  color: var(--data-entry-label-default);
  font-family: inherit;
  height: 100%;
  height: 24px;
}

:host([data-disabled]) .select-placeholder {
  color: var(--text-disabled);
}

ng-icon.chevron {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-inline: 0 16px;
  font-size: 16px;
  transition: transform 0.1s ease-out;
  transform: rotate(0deg);
}

:host([data-open]) ng-icon.chevron {
  transform: rotate(180deg);
}

[ngpSelectDropdown] {
  background-color: var(--color-global-primary-000);
  border: 1px solid var(--data-entry-label-default);
  border-radius: 4px;
  outline: none;
  position: absolute;
  animation: popover-show 0.1s ease-out;
  width: var(--ngp-select-width);
  box-shadow: var(--ngp-shadow-lg);
  box-sizing: border-box;
  margin-top: 8px;
  max-height: 240px;
  overflow-y: auto;
  transform-origin: var(--ngp-select-transform-origin);
}
[ngpSelectDropdown][data-enter] {
  animation: select-show 0.1s ease-out;
}
[ngpSelectDropdown][data-exit] {
  animation: select-hide 0.1s ease-out;
}
[ngpSelectOption] {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 16px;
  cursor: pointer;
  width: 100%;
  color: var(--data-entry-label-default);
  box-sizing: border-box;
  justify-content: space-between;
  &:not(:last-child) {
    border-bottom: 1px solid var(--data-entry-label-default);
  }

  &[data-active]:not([data-hover]) {
    outline: 1.5px solid var(--data-entry-label-focus);
    outline-offset: -1px;
  }
  &[data-selected] {
    background-color: var(--option-background-focus);
    color: var(--text-on-primary-light);
  }
  &[data-hover] {
    background-color: var(--bg-primary-dark-110);
    color: var(--text-on-primary-light);
  }
  &[data-press] {
    background-color: var(--option-background-pressed);
  }
}

.empty-message {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  color: var(--ngp-text-secondary);
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
@keyframes select-show {
  0% {
    opacity: 0;
    transform: translateY(-10px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
@keyframes select-hide {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px) scale(0.9);
  }
}
