:host {
  display: block;

  & ol {
    display: flex;
    align-items: center;
    list-style: none;
    margin-block-end: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
  }
}

@media (prefers-reduced-motion: no-preference) {
  :host(.expanded) {
    & ol {
      animation: breadcrumb-expand 200ms ease-out both;
      transform-origin: center;
    }
  }
}

@keyframes breadcrumb-expand {
  from {
    opacity: 0;
    transform: scaleX(0);
  }
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}
