:host {
  & button {
    &[data-focus-visible] {
      text-decoration: underline;
    }
    &[ngpAccordionTrigger] {
      display: flex;
      padding: 20px 16px;
      justify-content: space-between;
      width: 100%;
      border-radius: 0;
      align-items: center;
      &[data-semantic='tertiary'] {
        background-color: var(--drgn-color-surface-base);
        &:not(:disabled) {
          color: var(--drgn-color-surface-primary-strong);
          border: 1px solid var(--drgn-color-surface-primary-muted);
          &:hover,
          &[data-open] {
            background-color: var(--drgn-color-surface-primary-subtle);
          }
        }
        &:disabled {
          color: var(--drgn-color-text-disabled);
          border: 1px solid var(--drgn-color-surface-disabled);
        }
      }
      &[data-open] ng-icon {
        transform: rotateX(180deg);
      }
    }
  }
}

ng-icon {
  color: var(--drgn-color-text-default);
  transition: transform var(--drgn-motion-duration-medium) var(--drgn-motion-easing-standard);
}

:host-context([data-theme='light']) {
  ng-icon {
    color: var(--drgn-color-text-primary-dark-110);
  }
}
