:host {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  overflow-wrap: break-word;
  background-color: var(--drgn-color-surface-card);
  background-clip: border-box;
  border-radius: var(--drgn-radius-card);
  box-shadow: var(--drgn-shadow-card);
  color: var(--drgn-color-text-card-body);
  overflow: clip;
}

:host:hover {
  box-shadow: var(--drgn-shadow-card-hover);
}

:host[data-theme='dark'] {
  background-color: var(--drgn-color-surface-card-dark);
  color: var(--drgn-color-text-inverse);
}

/* Landscape: image on the left, content on the right */
:host[data-type='landscape'] {
  flex-direction: row;
}
