:host {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: none;
  color: var(--drgn-color-interactive-primary-default);
  font-size: var(--drgn-typography-size-p-md);
  line-height: 1;
  margin-inline: 0.375rem;

  & ng-icon {
    width: 0.583em;
    height: 1em;
  }
}
