:host {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  padding: 3px;
  padding-left: 13px;
  color: var(--drgn-color-text-inverse);
  border-radius: 100px;
  background-color: var(--drgn-color-interactive-secondary-default);
  &:hover {
    background-color: var(--drgn-color-interactive-secondary-hover);
    & .close-button {
      background-color: var(--drgn-color-interactive-primary-hover);
    }
  }
  &[data-focus-visible='keyboard'],
  &:has(.close-button:focus-visible) {
    outline: none;
    box-shadow:
      0 0 0 3px var(--drgn-color-focus-ring-outline),
      0 0 0 5px var(--drgn-color-focus-ring-primary);
    background-color: var(--drgn-color-interactive-secondary-hover);
    & .close-button {
      background-color: var(--drgn-color-interactive-primary-hover);
    }
  }
  &:not([data-disabled]):has(.close-button:active) {
    background-color: var(--drgn-color-interactive-secondary-pressed);
  }
  &[data-disabled] {
    background-color: var(--drgn-color-surface-disabled);
    color: var(--drgn-color-text-disabled);
    cursor: not-allowed;
    & .close-button {
      background-color: var(--drgn-color-surface-disabled);
      border-color: transparent;
      color: var(--drgn-color-text-disabled);
      cursor: not-allowed;
    }
  }
}

.close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding-inline: 0;
  line-height: 0;
  background-color: var(--drgn-color-interactive-primary-default);
  color: var(--drgn-color-text-inverse);
  border: 1px solid var(--drgn-color-border-accent-subtle);
  cursor: pointer;
  &:focus-visible {
    outline: none;
    box-shadow: none;
  }
  &:not(:disabled):active {
    background-color: var(--drgn-color-interactive-primary-pressed);
  }
}
