:host {
  background-color: var(--color-global-dark-secondary-120);
  border-radius: 8px;
  position: absolute;
  max-width: 16rem;
  padding: 1em;
  border: none;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--text-on-primary-light);
  transform-origin: var(--ngp-tooltip-transform-origin);
  & .container {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}
:host[data-enter] {
  animation: tooltip-show 200ms ease-in-out;
}
:host[data-exit] {
  animation: tooltip-hide 200ms ease-in-out;
}

@keyframes tooltip-show {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes tooltip-hide {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}
