:host {
  display: flex;
  align-items: baseline;
  color: var(--drgn-color-interactive-primary-default);
  font-family: var(--drgn-typography-font-family-base);
  font-style: var(--drgn-typography-font-style-normal);
  font-weight: var(--drgn-typography-weight-semibold);
  font-size: var(--drgn-typography-size-p-md);
  flex: none;
  &:not(:has([aria-current='page'])):hover {
    color: var(--drgn-color-interactive-primary-hover);
  }
  & a {
    padding: 3px;
    color: inherit;
    text-decoration: none;
    background-color: #ffffff;
    &[data-focus-visible],
    &:focus-visible {
      outline: 1px solid var(--drgn-color-focus-ring-interactive);
      filter: drop-shadow(0px 0px 3px #007db3b3);
      border-radius: 4px;
    }
    &:not([href]):not([routerLink]) {
      cursor: pointer;
    }
  }
  & button {
    background: none;
    border: none;
    padding: 3px;
    color: inherit;
    cursor: pointer;
    &[data-focus-visible],
    &:focus-visible {
      outline: 1px solid var(--drgn-color-focus-ring-interactive);
      filter: drop-shadow(0px 0px 3px #007db3b3);
      border-radius: 4px;
    }
  }
  & ng-icon {
    margin-right: 3px;
  }
  & [aria-current='page'] {
    color: var(--drgn-color-interactive-secondary-default);
  }
}
