:host {
  position: absolute;
  display: inline-block;
  background-color: var(--drgn-color-surface-base);
  border-radius: 4px;
  box-shadow: var(--drgn-shadow-blur-md);
  min-width: 280px;
  &[data-enter] {
    animation: popover-show 200ms ease-in-out;
  }
  &[data-exit] {
    animation: popover-hide 200ms ease-in-out;
  }
}
.date-picker-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  margin: 0.5rem 0;
}
.date-picker-day-headers {
  background-color: var(--drgn-color-surface-primary-muted);
}
th {
  text-transform: capitalize;
  padding: 0px;
  width: 50px;
  height: 40px;
}
[ngpDatePickerGrid] {
  border-collapse: collapse;
}
[ngpDatePickerLabel] {
  cursor: pointer;
  background-color: transparent;
  color: var(--drgn-color-interactive-primary-default);
  text-transform: capitalize;
  outline: 1px solid var(--drgn-color-border-data-entry-default);
  border-radius: 4px;
  border: none;
  &:hover {
    outline-color: var(--drgn-color-border-data-entry-hover);
  }
  &:focus-visible {
    box-shadow:
      0 0 0 3px white,
      0 0 0 5px var(--drgn-color-focus-ring-interactive);
  }
}

[ngpDatePickerPreviousMonth],
[ngpDatePickerNextMonth] {
  all: unset;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  padding: 10px 15px;
  cursor: pointer;

  color: var(--drgn-color-interactive-primary-default);
  &[data-hover] {
    color: var(--drgn-color-interactive-primary-hover);
  }
  &[data-focus-visible] {
    & ng-icon {
      box-shadow:
        0 0 0 2px var(--drgn-color-focus-ring-primary),
        0 0 1px 0 rgba(0, 125, 179, 0.7);
      border-radius: 8px;
    }
    &[data-press] ng-icon {
      box-shadow:
        0 0 0 3px var(--drgn-color-focus-ring-outline),
        0 0 0 5px var(--drgn-color-interactive-primary-pressed),
        0 0 10px 0 rgba(0, 125, 179, 0.7);
    }
  }
  &[data-press] {
    color: var(--drgn-color-interactive-primary-pressed);
  }
  &[data-disabled] {
    cursor: not-allowed;
    color: var(--drgn-color-text-disabled);
  }
}
[ngpDatePickerCell] {
  width: 50px;
  height: 44px;
  padding: 0;
}

[ngpDatePickerDateButton] {
  all: unset;
  width: inherit;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 17px;
  cursor: pointer;
  &[data-hover] {
    background-color: var(--drgn-color-interactive-primary-hover);
    color: var(--drgn-color-text-inverse);
  }
  &[data-today]:not([data-selected]):not([data-outside-month]) {
    color: var(--drgn-color-interactive-primary-default);
    box-shadow: inset 0 0 0 1px var(--drgn-color-interactive-primary-default);
    &[data-hover] {
      color: var(--drgn-color-text-inverse);
    }
    &[data-disabled] {
      color: #e5e8ea;
      box-shadow: inset 0 0 0 1px var(--drgn-color-border-accent-subtle);
    }
  }
  &[data-selected]:not([data-outside-month]) {
    color: var(--drgn-color-text-inverse);
    background-color: var(--drgn-color-interactive-primary-pressed);
  }
  &[data-outside-month],
  &[data-disabled] {
    cursor: auto;
    color: #e5e8ea;
    pointer-events: none;
  }
  &[data-focus-visible] {
    background-color: var(--drgn-color-text-inverse);
    color: var(--drgn-color-interactive-primary-default);
    outline: 1px solid var(--drgn-color-focus-ring-primary);
    filter: drop-shadow(0px 0px 3px #007db3b3);
  }
}

@keyframes popover-show {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes popover-hide {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}
