<div class="date-picker-header">
  <button ngpDatePickerPreviousMonth aria-label="previous month">
    <ng-icon name="faSolidAngleLeft" />
  </button>
  <drgn-calendar-period-select
    unit="month"
    ngpDatePickerLabel
    class="drgn-label-md-600"
    style="flex-grow: 1"
  />
  <drgn-calendar-period-select unit="year" ngpDatePickerLabel class="drgn-label-md-600" />

  <button ngpDatePickerNextMonth aria-label="next month">
    <ng-icon name="faSolidAngleRight" />
  </button>
</div>
<table ngpDatePickerGrid>
  <thead>
    <tr class="date-picker-day-headers">
      @for (day of datePickerDragoneState().dayAbbrs(); track $index) {
        <th class="drgn-label-md-number-400" scope="col" [attr.abbr]="day">{{ day }}</th>
      }
    </tr>
  </thead>
  <tbody>
    <tr *ngpDatePickerRowRender>
      <td *ngpDatePickerCellRender="let date" class="drgn-label-md-number-400" ngpDatePickerCell>
        <button ngpDatePickerDateButton>{{ adapter.getDate(date) }}</button>
      </td>
    </tr>
  </tbody>
</table>
