:host {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
  border: 1px solid var(--drgn-color-border-data-entry-default);
  border-radius: 4px;
  padding: 1rem;
  background-color: var(--drgn-color-surface-base);
  transition: border-color 0.2s;

  /* Input nel gruppo */
  input {
    flex: 1;
    border: none;
    outline: none;
    padding: 0;
    background: transparent;
    color: var(--drgn-color-text-data-entry-default);
    min-width: 0; /* Previene overflow */

    &::placeholder {
      color: var(--drgn-color-text-placeholder-default);
    }
  }

  /* Stati interattivi */
  &:hover:not(:has(input:disabled)) {
    border-color: var(--drgn-color-text-data-entry-hover);
  }

  &:focus-within:not(:has(input:disabled)) {
    border-color: var(--drgn-color-interactive-primary-default);
    outline: none;
    box-shadow:
      0 0 0 3px var(--drgn-color-focus-ring-outline),
      0 0 0 5px var(--drgn-color-focus-ring-primary);
  }

  /* Stato errore */
  &:has(input[aria-invalid='true']:not(input:disabled), input.ng-invalid:not(input:disabled)) {
    border-color: var(--drgn-color-interactive-alert-default);
    & ng-icon {
      color: var(--drgn-color-interactive-alert-default);
    }
  }

  &:has(input[data-validation='valid']:not(input:disabled), input.ng-valid:not(input:disabled)) {
    border-color: var(--drgn-color-interactive-success-default);
    & ng-icon {
      color: var(--drgn-color-interactive-success-default);
    }
  }

  &:has(input[data-validation='warning']:not(input:disabled)) {
    border-color: var(--drgn-color-interactive-warning-default);
    & ng-icon {
      color: var(--drgn-color-interactive-warning-default);
    }
  }

  /* Stato disabled */
  &:has(input:disabled) {
    background-color: var(--drgn-color-surface-disabled);
    border-color: transparent;
    color: var(--drgn-color-text-disabled);
    cursor: not-allowed;

    & input {
      cursor: not-allowed;
    }
  }
}
