:host {
  padding: 0 1rem;
  background-color: var(--status-color);
  border-radius: 100px;
  color: var(--drgn-color-text-inverse);
  &[data-status='alert'] {
    --status-color: var(--drgn-color-interactive-alert-default);
  }
  &[data-status='warning'] {
    --status-color: var(--drgn-color-interactive-warning-hover);
    color: var(--drgn-color-text-primary);
  }
  &[data-status='success'] {
    --status-color: var(--drgn-color-interactive-success-default);
  }
  &[data-status='info'] {
    --status-color: var(--drgn-color-interactive-primary-default);
  }
  &[data-status='neutral'] {
    --status-color: var(--drgn-color-interactive-secondary-default);
  }
}

/* Dark mode variant */
:host-context(.drgn-dark) {
  &[data-status='neutral'] {
    --status-color: var(--drgn-color-surface-base);
    color: var(--drgn-color-interactive-secondary-default);
  }
}
